# Raw data (download from GEO)
data/

# Large output files
results/*.RData
results/**/*.RData
results/**/*.pdf
!results/figures/*.pdf

# figures
!results/figures/*.png

# R artifacts
.Rhistory
.RData
.Rproj.user/

# System
.DS_Store
